footer{
    flex: 0 0 auto;
    width:100%;
    height: 30px;
    background: $gradient2;
    box-shadow: 2px 2px 10px $third-color;

    position: fixed;
    bottom: 0;
        .gralHeader{
          
            height:30px;

            .tabHeader{
                float: left;
                height: 100%;
                padding: 0 5px 0 10px;

            }
            .right{
                float: right;
                height: 40px;
              
            }
            .date{
                float:right;
                width: 30px;
                @extend .right
            }
        
        }
        
}

